.form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form input[type="text"] {
    height: 40px;
    padding: 0 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    min-width: 74%;
}

.form button[type="submit"] {
    border: none;
    height: 40px;
    width: 40px;
    background-color: #67159C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form button[type="submit"]:hover {
    cursor: pointer;
    opacity: 80%;
}